<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emma.io.emmasampleapp">

    <!-- RUNTIME PERMISSIONS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- NORMAL PERMISSIONS -->
    <uses-permission android:name="emma.io.emmasampleapp.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="emma.io.emmasampleapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="eMMaSampleAppApplication">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ThanksActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver
            android:name="io.emma.android.referral.EMMAInstallsBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="io.emma.android.referral.EMMAReferralReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <!-- PUSH -->
        <receiver
            android:name="io.emma.android.push.EMMAGCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="emma.io.emmasampleapp"/>
            </intent-filter>
        </receiver>

        <service
            android:name="io.emma.android.push.EMMAInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <activity
            android:name="io.emma.android.activities.EMMADeepLinkActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="emmasample"/>
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="emmasample.powlink-beta.emma.io"
                    android:scheme="https"/>
                <data
                    android:host="emmasample.powlink-pre.emma.io"
                    android:scheme="https"/>
                <data
                    android:host="emmasample.powlink.io"
                    android:scheme="https"/>

            </intent-filter>
        </activity>

        <meta-data
            android:name="io.emma.SESSION_KEY"
            android:value="@string/emma_session_key"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1e14c430ceb6ed00eb4766b5b7e4e6e745dfb54c" />

        <meta-data
            android:name="io.emma.DEEPLINK_OPEN_ACTIVITY"
            android:value="@string/deeplink_activity"/>

    </application>

</manifest>
